html {
    font-family: sans-serif;
}
body{
    height: 100%;
    margin: 0;
}
.navbar-brand{
    padding:0px 15px;
}
.home-slide{
    margin-top: 30px ;
    width: 100%;
    padding: 60px 60px 60px 60px;
    background-color: rgba(27,30,39,0.9);
}
.home-slide h1{
    color: #fff;
    font-size: 60px;

}
.home-slide p{
    font-size: 20px;
    color: #fff;
}


/***CONTENT***/
.content{
    margin: 20px 0px;
}
.content ol{
    background-color: #fff;
}
.entry{
    margin: 10px auto;
}
.entry-body,.entry-left{
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}
.entry-body {
    
    width: 100%;
}
.entry-body p{
    max-height: 60px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow:ellipsis;
}
.entry-username{
    color: blue;

}
.entry-username a{
    text-decoration: none;
}
.entry-head{
    color: darkblue ;
}
.entry-head a{
    text-decoration: underline;
}

.entry-info{
    color: #999;
    font-size: 8px;
}
.entry-status{
    float: right;
    width: auto;
    color: #888;
    display: table-cell;
    list-style: none;
}
.entry-status li{
    float: left;
    padding-right: 5px;
}

.page-panigation{
    margin: 10px auto;
    text-align: center;
}


/***footer****/
.footer{
    width: 100%;
    background-color: rgba(27,30,39,0.9);
}
.footer img{
    display: block;
    height: 150px;
    margin: 20px auto;
}

/***edit button***/
.edit-button-600{
    width: 600px;
}
.edit-button-400{
    width: 400px;
}
.edit-button-150{
    width: 150px;
}
.edit-button-100{
    width: 100px;
}

.more-button{
    display: inline-block;
    margin: 0 auto;
}


/***messenger***/

.message-from{
    margin: 10px auto;
    padding: 10px;
    min-width: 500px;
    max-width: 800px;
    float: left;
    clear: both;
}

.message-from div{
    width: 90%;
    float: left;
    padding: 10px 10px;
    background-color: #F0CDCD;
}
.message-from img{
    margin: 0 5px;
    float: left;
    width: 35px;
}
.message-from p{
    margin-top: 15px;
}



.message-to{
    margin: 10px auto;
    padding: 10px;
    min-width: 500px;
    max-width: 800px;
    float: right;
    clear: both;
}
.message-to div{
    width: 90%;
    float: right;
    padding: 10px 10px;
    background-color: #CCE8F0;
}
.message-to img{
    margin: 0 5px;
    float: right;
    width: 35px;
}
.message-to p{
    margin-top: 15px;
}
.reminder{
    color: red;
    font-size: 10px;
    float: right;
    text-shadow: 1px 1px 0 white;
}

.message-box{
    
}
